<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xinxing.cixi_community">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <application

        android:name="com.xinxing.cixi_community.TCApplication"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"


        android:largeHeap="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
                />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />


        <activity
            android:name="com.xinxing.cixi_community.play.TCVideoPreviewActivity"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tencent.liteav.demo.videopreview" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.xinxing.cixi_community.mainui.TCSplashActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:exported="false">

        </activity>

        <activity
            android:name="com.xinxing.cixi_community.login.TCLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />
        <activity
            android:name="com.xinxing.cixi_community.login.TCRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/RegisterTheme" />
        <activity
            android:name="com.xinxing.cixi_community.mainui.TCMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.xinxing.cixi_community.play.TCVodPlayerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.xinxing.cixi_community.videorecord.TCVideoRecordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/RecordActivityTheme"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.xinxing.cixi_community.videorecord.TCVideoFollowRecordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MixRecordActivityTheme"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.xinxing.cixi_community.videorecord.TCVideoTripleScreenActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MixRecordActivityTheme"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.xinxing.cixi_community.videopublish.TCVideoPublisherActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.tencent.rtmp.video.TXScreenCapture$TXScreenCaptureAssistantActivity"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <activity
            android:name="com.xinxing.cixi_community.videochoose.TCPicturePickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PickerActivityTheme" />
        <activity
            android:name="com.xinxing.cixi_community.videochoose.TCTripleRecordVideoPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PickerActivityTheme" />
        <activity
            android:name="com.xinxing.cixi_community.videochoose.TCVideoPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PickerActivityTheme" />
        <activity
            android:name="com.xinxing.cixi_community.videojoiner.TCPictureJoinActivity"
            android:launchMode="singleTop"
            android:theme="@style/PictureTransitionActivityStyle"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xinxing.cixi_community.videoeditor.TCVideoCutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EditerActivityTheme" />
        <activity
            android:name="com.xinxing.cixi_community.videoeditor.TCVideoEditerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/EditerActivityTheme" />
        <activity
            android:name=".videoeditor.TCVideoEffectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EditerActivityTheme" />
        <activity
            android:name="com.xinxing.cixi_community.videojoiner.TCVideoJoinerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="com.xinxing.cixi_community.userinfo.TCAboutActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.xinxing.cixi_community.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />
        <uses-library android:name="android.test.runner" />

        <activity
            android:name="com.xinxing.cixi_community.mainui.TCSettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.xinxing.cixi_community.mainui.TCLanguagaSettingActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>
